<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;

    }

    #nav {
      display: flex;
      justify-content: center;
      background-color: burlywood;
      color: #ece9e9;
      margin-bottom: 20px;
      padding: 20px;
    }

    a {
      padding-right: 80px;
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <header class="header">
    <nav class="navMenu" id="nav">
      <a href="/">recipeList</a>
      <a href="/recipe/recipeForm">Add Recipe</a>
      <a href="/user/register">register</a>
      <a href="/user/login">Login</a>
      <a href="/recipe/myrecipepage">My Recipe</a>
      <a href="/user/logout">Logout</a>
    </nav>
  </header>
</body>

</html>